@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --slate50: #f8fafc;
    --slate100: #f1f5f9;
    --slate200: #e2e8f0;
    --slate300: #cbd5e1;
    --slate400: #94a3b8;
    --slate500: #64748b;
    --slate600: #475569;
    --slate700: #334155;
    --slate800: #1e293b;
    --slate900: #0f172a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* html {

} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: var(--slate600);
}

.content > h1 {
    color: white;
    font-size: 3em;
}

.tictactoe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    height: 400px;
    width: 400px;
    gap: 1em;
}

.tictactoe > .grid-area {
    background-color: var(--slate100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 600;
    cursor: pointer;
}

.tictactoe > .grid-area:active {
    transform: scale(.9);
}